body{
    color: white;
    background-color: #f9ffc4;
    scroll-behavior: smooth;
    margin: 0px;
    font-family: 'Mouse Memoirs', sans-serif;
    animation-name: opacity;
    animation-duration: 2s;
  }
  
  @keyframes opacity {
    from {opacity: 0.1;}
    to {opacity: 1;}
  }


.header{
    width: 100%;
    height: 45px;
    background-color: #59981A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:left;
    padding: 15px;
    color: white;
    font-size: larger;
    box-shadow: 0px 10px 5px #20202071;
  
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.left h2{
    margin-top: 40px;
    margin-left: 5px;

}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


  

  .footer{
    height: 60px;
    width:100%;
    background-color: #59981A;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 10px;
    font-size: large;

 }

 
 
.footer a {
    float: left;
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
.footer a:hover {
    background-color: #81B622;
    border-radius: 5px;
    color: #ffff;
  }
  

 .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    padding: 0px;

 }
 .container a{
    text-decoration: none;
 }

 .box{
    width: 500px;
    height: 460px;
    background-color:#81B622;
    color: white;
    padding: 10px;
    box-shadow: 0px 10px 5px #202020a5;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  
}
.box img{
    
    width:500px;
    height: 450px;
    border-radius: 10px;
}
.center{
    text-align: center;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #59981A;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #3D550C;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
  
 .dropdown-btn {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    border: none;
    background: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    outline: none;
  }
  
  .dropdown-btn:hover{
    color: #3D550C;

  }
  
   .dropdown-btn a:hover{
    color: #3D550C;

  }
  

   .dropdown-btn{
    font-family: 'Mouse Memoirs', sans-serif;
   }
 
  .active {
    background-color: #3D550C;
    color: white;
  }
  
  .dropdown-container {
    display: none;
    background-color: #81B622;
    color: #344E41;
    padding-left: 8px;
  }
  
  .fa-caret-down {
    float: right;
    padding-right: 8px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

 .flip-card {
    background-color: transparent;
    width: 500px;
    height: 460px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    cursor: pointer;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: black;
  }
  .flip-card-front a{
    text-decoration: none;
  }
  .flip-card-back {
    background-color: #81B622;
    color: white;
    border-radius: 20px;
    transform: rotateY(180deg);
    box-shadow: 0px 10px 5px #202020a5;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    font-size: 25px;
  }
  .cardd{
    display: flex;
  }
  .centered-img{
    position: relative;
    text-align: center;
    z-index: -1;
 }

  .img-text {
    position: absolute;
    top: 55%;
    left: 44%;
    transform: translate(-50%, -50%);
      color: white;
    font-weight: bolder;
     margin-top: 100px;
     font-size:x-large;
     animation-name: mymove;
     animation-duration: 1.5s;  
    animation-fill-mode: forwards;
    
  }


@keyframes mymove {
  from {left: 0px;}
  to {left: 670px;}
}
.newsletterbox{
  width: 600px;
  height: 700px;
  background-color:#59981A;
  color: white;
  padding: 10px;
  box-shadow: 0px 10px 5px #202020a5;
  display:flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  margin: auto;
}
.newsletterbox h1{
margin-bottom: 30px;
margin-top: 20px;
font-size: 50px;
}
.newsletterbox h2{
  margin-bottom: 40px;
}
#newsbtn{
  width: 150px;
  height: 50px;
  background-color: #3D550C;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  font-family: 'Mouse Memoirs', sans-serif;
  transition: 0.3s ease-in-out;
}
#newsbtn:hover{
  background-color: #3D550C;
  color: white;
}

.label{
  font-size: 30px;
  margin: auto;
  height: 50px;
  letter-spacing: 2px;
  width: 700px;
  font-weight: bolder;
  text-transform: uppercase;
  text-align:center;
}
.input{
  height: 50px;
  outline: none;
  width: 550px;
  margin-bottom: 30px;
  border: none;
  padding: 0;
  padding-left: 20px;
 
} 
