body{
    color: #DAD7CD;
    background-color: #DAD7CD;
    scroll-behavior: smooth;
    margin: 0px;
    font-family: 'Mouse Memoirs', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Tiro Gurmukhi', serif;
}


.header{
    width: 100%;
    height: 60px;
    background-color:#3A5A40;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-evenly;
    padding: 15px;
  
    box-shadow: 12px 12px 12px #DAD7CD;
}
.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.left h2{
    margin: 10px;
}
.right{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;


}

#navbar {
    overflow: hidden;
    background-color: #3A5A40;
    width: 100%;
    z-index: 1;
  }
  

#navbar a {
    float: left;
    color: #DAD7CD;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#navbar a:hover {
    background-color: #A3B18A;
    border-radius: 5px;
    color: #000000;
  }
  

  .footer{
    height: 130px;
    width:100%;
    background-color: #3A5A40;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #DAD7CD;
    padding: 10px;

 }
 .container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
 }
 .container a{
    text-decoration: none;
 }

 .box{
    width:300px;
    height:255px;
    background-color:#ecebe5;
    color: #344E41 ;
    padding: 10px;
    box-shadow: 10px 10px 5px #202020a5;
    display:flex;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
  
}
.box img{
    
    width:300px;
    height:125px;
    border-radius: 10px;
}
.center{
    text-align: center;
}